@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-snap-type: y mandatory;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-family: 'Montserrat Alternates';
}

.navbar {
  width:100vw;
  height: 10vh;
  position: fixed;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr minmax(0, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.navTitle {
  padding-left: 20px;
  height: calc(20% + 1vh + 1vw);
  width: auto;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: calc(1vh + 0.25vw);
}

.socialBtns {
  display: flex;
  flex-direction: row;
  gap: calc(2vw + 1vh);
  justify-content: right;
  align-items: center;
  font-size: calc(2vh + 1vw);
  color: black;
  padding-right: 20px;
}

.socialBtns > * {
  color: black;
}

.pageContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-image: url('images/projects.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  border-bottom: 10px solid #874C62;
}

.contact > * {
  color: rgb(0, 0, 0);;
}

.titleCard {
  width: calc(50vw + 20vh);
  height: calc(25vh + 25vw);
  display: grid;
  grid-template-rows: minmax(0, 1fr) 4fr minmax(0, 3fr);
  grid-template-areas:
  'bar'
  'body'
  'footer';
  text-align: center;
  z-index: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: calc(1vw + 1vh);
  box-shadow: rgba(0, 0, 0, 0.5) 0px calc(0.25vw + 0.25vh) calc(0.1vw + 0.1vh) calc(0.2vw + 0.2vh);
  border: 1px solid rgba(0, 0, 0, 1);
}

.small {
  width: 30vw;
  height: 30vh;
}

.window {
  grid-area: bar;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0px 0px;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search {
  text-align: left;
  padding-left: calc(0.5vw + 0.5vh);
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: calc(2vw + 2vh);
  color: rgba(0, 0, 0, 0.5);
}

.search > * {
  margin: calc(0.25vw + 0.25vh);
  font-size: calc(0.5vw + 0.5vh);
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.5vh + 1vw);
  font-size: calc(1vh + 1vw);
  color: white;
}

.titleBtns {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.2vh + 1vw);
}

.titleBtns > * {
  height: calc(1vh + 1vw);
  width: calc(1vh + 1vw);
  border-radius: 1000px;
}


.minimize {
  background-color: skyblue;

}

.viewport {
  background-color: gold;
}

.close {
  background-color: rgb(143, 211, 137);
}

.titleContent {
  font-family: 'montserrat alternates';
  grid-area: body;
  justify-self: center;
  align-self: center;
}

.titleCardTitle {
  font-family: 'lobster two';
}

.titleContent > * {
  font-size: calc(0.5vw + 1.5vh);
}

.contactBtns {
  grid-area: 'footer';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 5vw;
  font-family: 'montserrat alternates';
}

.contactBtns {
  font-size: 2vw;
}

p {
  font-size: calc(1vh + 1vw);
}

.projects {
width: 100%;
height: 100vh;
background-image: url('./images/contact.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center, center;
border-bottom: 10px solid #874C62;
}

.padding {
  height: 15vh;
  width: 100%;
  background-color: #f8decb;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: url('./images/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  }

.snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}