@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html {
  scroll-snap-type: y mandatory;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-family: 'Montserrat Alternates';
}

.navbar {
  width:100vw;
  height: 10vh;
  position: fixed;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr minmax(0, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5); */
}

.navTitle {
  padding-left: 20px;
  height: calc(20% + 1vh + 1vw);
  width: auto;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: calc(1vh + 0.25vw);
}

.socialBtns {
  display: flex;
  flex-direction: row;
  gap: calc(2vw + 1vh);
  justify-content: right;
  align-items: center;
  font-size: calc(2vh + 1vw);
  color: black;
  padding-right: 20px;
}

.socialBtns > * {
  color: black;
}

.pageContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-image: url('images/projects.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.contact > * {
  color: rgb(0, 0, 0);;
}

.topWave {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 10vh;
}

.bottomWave {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 50vh;
}

.landingText {
  font-size: 5vw;
  position: absolute;
}

.name {
  font-size: 10vw;
  top: 10vh;
  margin: 0px;
  left: 5vw;
  font-family: 'raleway';
  color: black;
}

.lastName {
  top: 34.5vh;
  color: white;
}

.jobDesc {
  top: 80vh;
  right: 5vw;
  font-family: 'raleway';
}

.titleCard {
  width: calc(50vw + 20vh);
  height: calc(25vh + 25vw);
  display: grid;
  grid-template-rows: minmax(0, 1fr) 3fr minmax(0, 2fr);
  grid-template-areas:
  'bar'
  'body'
  'footer';
  text-align: center;
  z-index: 0;
  background: rgba(255, 255, 255, 1);
  border-radius: calc(1vw + 1vh);
  box-shadow: rgba(0, 0, 0, 0.5) 0px calc(0.25vw + 0.25vh) calc(0.1vw + 0.1vh) calc(0.2vw + 0.2vh);
}

.small {
  width: 30vw;
  height: 30vh;
}

.window {
  grid-area: bar;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0px 0px;
  background-color: #61746A;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search {
  text-align: left;
  padding-left: calc(0.5vw + 0.5vh);
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: calc(2vw + 2vh);
  color: rgba(0, 0, 0, 0.5);
}

.search > * {
  margin: calc(0.5vw + 0.5vh);
  font-size: calc(0.5vw + 0.5vh);
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.5vh + 1vw);
  font-size: calc(1.5vh + 1.5vw);
  color: white;
}

.titleBtns {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.2vh + 1vw);
}

.titleBtns > * {
  height: calc(1.5vh + 1.5vw);
  width: calc(1.5vh + 1.5vw);
  border-radius: 1000px;
}


.minimize {
  background-color: #FEFBEC;

}

.viewport {
  background-color: #E7C4B0;
}

.close {
  background-color: #CD9D89;
}

.titleContent {
  font-family: 'montserrat alternates';
  grid-area: body;
  justify-self: center;
  align-self: center;
}

.titleCardTitle {
  font-family: 'lora';
}

.titleContent > * {
  font-size: calc(0.5vw + 1.5vh);
}

p {
  font-size: calc(0.5vh + 0.5vw);
}

.projects {
width: 100%;
height: 100vh;
background-image: url('./images/contact.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center, center;
}

.flatTopWave {
  position: absolute;
  width: 100vw;
  height: 18vh;
  top: 100vh;
}

.padding {
  height: 15vh;
  width: 100%;
  background-color: #f8decb;
}

.aboutMe {
  font-family: lora;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 0.2fr;
  grid-template-rows: 10vh minmax(0, 1fr) 4fr minmax(0, 1fr);
}

.aboutTitle {
  font-size: 6vw;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  margin-left: 5vw;
  padding-top: 2vh;
}

.skills {
  width: 100%;
  height: 50%;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  margin-left: 20px;
}

.techstack {
  font-size: 2vw;
  display: flex;
  gap: 1vw;
}

.passion {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-top: 20%;
  background-color: #61746A;
  color: white;
  padding: 20px;
  height: 70%;
}

.education {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  background-color: white;
  padding: 2vw;
}

.bottomAbout {
  grid-row: 4 / 5;
  grid-column: 1 / 6;
  width: 100vw;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contactBtns {
  grid-column: 2 / 3;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  font-family: 'montserrat alternates';
  color: white;
  font-size: 2vw;
}

.contactBtns > * {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.about {
  width: 77%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 200vh;
  z-index: -1;
  background-image: url('./images/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  }

.snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}